@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
}
body {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  margin: 0;
  background: rgba(221, 160, 221, 0.6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
